global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket 127.0.0.1:14567
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
	log	global
	mode	tcp
	option	tcplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

listen stats
  bind 0.0.0.0:14567
  stats enable
  stats uri /stats
  stats auth admin:admin

frontend http
    mode tcp
    bind :::80 v4v6
    option tcplog
    default_backend http

frontend https
    mode tcp
    bind :::443 v4v6
    option tcplog
    default_backend https

backend http
    balance roundrobin
    mode tcp
    server http1 {{ ingress_controller_svc.resources[0].spec.clusterIP }}:80 check {% if ingress_controller_svc.resources[0].metadata.labels.app == 'nginx-ingress' %}send-proxy-v2{% elif ingress_controller_svc.resources[0].metadata.labels.app == 'traefik-ingress' %}send-proxy{% endif %}

backend https
    balance roundrobin
    mode tcp
    option ssl-hello-chk
    server http1 {{ ingress_controller_svc.resources[0].spec.clusterIP }}:443 check {% if ingress_controller_svc.resources[0].metadata.labels.app == 'nginx-ingress' %}send-proxy-v2{% elif ingress_controller_svc.resources[0].metadata.labels.app == 'traefik-ingress' %}send-proxy{% endif %}
